{% extends "base.html" %}

{% block title %}Logged out{% endblock %}

{% block page-header-title %}{{ title }}{% endblock %}
      
{% block page-header-small %}logged out{% endblock %}

      {% block content %}
      <section id="logged-out">

        <div class="row">
          <div class="span12">
            <p>Grazie per aver speso del tempo prezioso su questo sito.. se ti va puoi effettuare un nuovo <a href="{% url login %}">login</a></p>
          </div>
        </div>

      </section>
      {% endblock %}
