{% extends "base.html" %}

{% block title %}Analysis of {{ object.name }} in {{ year }}{% endblock %}

{% block head %}

<script type="text/javascript">
	$(function() {});
</script>
{% endblock %}

{% block content %}

<div class="container">

	<div class="span-13 colborder">
		<h1>{{ object.name }}</h1>
	</div>

	<div class="span-10 last">
		<h2>{{ object.source.all.count }} withdraws and {{ object.destination.all.count }} deposits.</h2>
	</div>

</div>

<div class="container">
	<a href="" id="show">show</a>
	<div id="chart"></div>
</div>

<div class="container">

	<div class="span-4 colborder">
	
		<h3>Deposit</h3>

		<ul>

			{% if tot.deposit.data %}
			{% for data in tot.deposit.data.values|dictsort:"date" %}

			<li><a href="{% url account-detail-monthly object.id year data.date|date:"m" %}">{{ data.date|date:"M" }}</a> : {{ data.amount }}</li>

			{% endfor %}
		
			{% else %}
			<p>No stuff here.</p>
			{% endif %}

		</ul>


		<h3>Withdraw</h3>

		<ul>

			{% if tot.withdraw.data %}

			{% for data in tot.withdraw.data.values|dictsort:"date" %}

			<li><a href="{% url account-detail-monthly object.id year data.date|date:"m" %}">{{ data.date|date:"M" }}</a> : {{ data.amount }}</li>

			{% endfor %}
			{% else %}
			<p>No stuff here.</p>
			{% endif %}

		</ul>

	</div>
	
	<div class="span-12 colborder">
	
		<h3>Summary</h3>
    
	    <table>
    	    <tr>
        		<th>month</th>
            	<th>deposit</th>
	            <th>withdraw</th>
    	        <th>balance</th>
	        </tr>
    	    {% for element in summary %}
	        <tr class="total">
    		   	<td><a href="{% url account-detail-monthly object.id year forloop.counter %}">{{ forloop.counter }}</a></td>
        	    <td>{{ element.deposit }}</td>
            	<td>{{ element.withdraw }}</td>
	            <td>{{ element.balance }}</td>

    	    </tr>
	        {% endfor %}
    	</table>
    
    </div>
    
    <div class="span-6 last">
    
    	<h3>Accounts</h3>
    	
    	<ul>
    	    {% regroup accounts by get_type_display as account_list %}
    		{% for account in account_list %}
    		<li>{{ account.grouper }}
    		<ul>
    			{% for item in account.list %}
	    		<li><a href="{% url sandbox item.id year %}">{{ item }}</a></li>
	    		{% endfor %}
	    	</ul>
	    	</li>
    		{% endfor %}
    	</ul>
    
    </div>
    
</div>

{% endblock %}
