{% extends "mobile/base.html" %}

{% block content %}

<div data-role="page" id="account_list">

	<div data-role="header">
		<h1>Alchemy</h1>
	</div><!-- /header -->

	<div data-role="content">	

		<ul data-role="listview" data-inset="true">
		{% for account in object_list %}
			<li><a href="{{ account.id }}/">{{ account.name }}</a></li>
		{% endfor %}
		</ul>

	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /header -->
</div><!-- /page -->

{% endblock %}
