<div class="row">

	<div class="col-md-12">
		<h2>Transfer</h2>
	</div>
	
	<div class="col-md-8">
	
		<ul>
			<li>description: <%= transfer.get('description') %></li>
		</ul>

	</div>

	<div class="col-md-4">
		<dl>
			<dt>Created</dt>
			<dd>
				<%= moment(transfer.get('created_on')).format('LLL') %>
				(<%= moment(transfer.get('created_on')).fromNow() %>)
			</dd>
			
			<% if (transfer.get('updated_on') != transfer.get('created_on')) { %>
			<dt>Updated</dt>
			<dd>
				<%= moment(transfer.get('updated_on')).format('LLL') %>
				(<%= moment(transfer.get('updated_on')).fromNow() %>)
			</dd>
			<% } %>
		</dl>
	</div>

</div>