<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
    <head>
		<title>{% block title %}Welcome{% endblock %} - Alchemy</title>

		<link rel="stylesheet" type="text/css" href="/media/css/blueprint/screen.css" media="screen, projection"></link>
		<link rel="stylesheet" type="text/css" href="/media/css/blueprint/print.css" media="print"></link>		
		<link rel="stylesheet" type="text/css" href="/media/css/blueprint/plugins/fancy-type/screen.css" media="screen"></link>		

		<link type="text/css" href="/media/css/smoothness/jquery-ui-1.8.9.custom.css" rel="stylesheet" />	

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>

		<script type="text/javascript" src="/media/js/highcharts.js"></script>

		{% comment %}
				
		<style type="text/css">
			body { margin-top: 1em;}
		</style>

		{% endcomment %}		
		
		{% block head %}{% endblock %}
    <head>

    <body>

        <div class="container prepend-top append-bottom">
             <div class="span-12">
	         <a href="{% url cash-home %}">home</a>
                 {% if user.is_authenticated %}
            	 | <a href="{% url account %}">account</a> |
	         transfers <a href="{% url transfer-archive %}">archive</a> or <a href="{% url transfer-add %}">add new</a> |
    	         <a href="{% url report %}">report</a> 
                 {% endif %}
	    </div>
            <div class="span-9">
                {% if user.is_authenticated %}
        	<form method="get" action="{% url transfer-archive %}">
	            <input type="text" id="id_search_by_description" name="description">
		    <input type="submit" value="Search">
	        </form>
      		{% else %}
                &nbsp;
      		{% endif %}
            </div>
            <div class="span-3 last">
                 {% if user.is_authenticated %}
                 <a href="/admin/">admin</a> |
        	 <a href="{% url logout %}">logout</a>
                 {% else %}                    
                 <a href="{% url login %}">login</a>
	         {% endif %}
            </div>
        </div>

	{% if messages %}
	<div class="container">
    	    	    {% for message in messages %}
		    <div class="span-10 message success">{{ message }}</div>
        	    {% endfor %}
		</div>
		{% endif %}
		
		
		{% block content %}{% endblock %}

		<div class="container">
			<div  class="span-23 last">
				<hr />
				<span class="alt">Footer!</span>
			</div>
		</div>
		
		
		{% comment %}
          	<script type="text/javascript">
            		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          	</script>
          	<script type="text/javascript">
            		var pageTracker = _gat._getTracker("UA-4334580-1");
            		pageTracker._initData();
            		pageTracker._trackPageview();
          	</script>
		{% endcomment %}
	
	</body>
</html>
