{% extends "cash/base.html" %}

{% block title %}Accounts{% endblock %}

{% block content %}

	<div class="container">	

		<hr />
		
    {% if object_list %}

		{% regroup object_list by type as x  %}

		{% for y in x %}
		<div class="{% if forloop.first %}prepend-2{% endif %} span-3 {% if forloop.last %}append-1 {% endif %}">
			<h3>{{ y.grouper }}</h3>
		
			{% for account in y.list %}
			<li><a title="balance {{ account.balance|floatformat:2}}" href="{{ account.id }}/">{{ account }}</a></li>
			{% endfor %}
		
		</div>
		{% endfor %}

	{% else %}

    <p>Sorry dude, no stuff here.. if yor're bored take a look ad <a href="http://stacktrace.it/">stacktrace</a></p>

	{% endif %}
	</div>

{% endblock %}
