{% extends "base.html" %}
{% load webdesign %}

{% block content %}

<div class="container">

	<hr/>
	
	<h1 class="alt">Welcome!</h1>
	
	<hr/>
	
	<div class="span-15">
		<p>Cucu... {% lorem %}</p>
	</div>

	<div class="span-7">



<h3 class="box">release 0.1 (2008-12-03)</h3>

<ul>
	<li><em>Report</em>: aggiunto un grafico nella pagina del report mensile per visualizzare i totali delle spese.</li>

	<li><em>Transfer</em>:
		<ul>
			<li>aggiunto il calendario di per la <code>validity_date</code>. Viene utilizzato il <code>DatePicker</code> della libreria jQuery.</li>
			<li>Transfer add: aggiunto (finalmente!) una data di default per la <code>validity_date</code>.</li>
			<li>Transfer add: ora (finalmente!) il campo <code>amount</code> ha il focus quando la pagina viene visualizzata.</li>
		</ul>
	</li>
</ul>


<h3 class="box">Backlog:</h3>

<ul>
	<li>Paginazione dei dati, in particolare dei <em>Transfer</em> quando, ad esempio, vengono visualizzati quelli di un conto molto utilzzato.</li>
	<li>Navigazione nei <em>Transfer</em> di un <em>Account</em>: vedere i dati di un anno > mese > giorno.</li>
	<li>Realizzare una veste grafica pi&ugrave; gradevole.</li>
	<li>Report trimestrale e/o annuale.</li>
	<li>Realizzare un Jabber bot per rendere pi&ugrave; agevole il data entry delle spese pi&ugrave; ricorrenti (pranzo, spesa, carburante, tangeziale..).</li>
</ul>

	</div>
	
</div>

{% endblock %}

