{% extends "base.html" %}

{% load humanize %}

{% block head %}

    <script type="text/javascript" src="/media/static/fusion/js/FusionCharts.js"></script>
    <script type="text/javascript">
      $(document).ready(function()
      {

        var build_graph = function (rows, context) {
          var header = "<graph caption='Monthly Unit Sales' xAxisName='Month' yAxisName='Units' showNames='1' decimalPrecision='0' formatNumberScale='0'>";
        
          //var rows = "<set name='Sep' value='376' color='B3AACC'></set>";
          var footer = "</graph>";
          var xml = header;
          rows.each( function(i,e) { xml += "<set name='" + escape(e.childNodes[1].childNodes[0].childNodes[0].nodeValue) + "' value='" + e.childNodes[3].firstChild.nodeValue+ "' color='B3AACC' />" } )       
          xml += footer;
          return xml;
        }
 
        $('a#show').click( function() {
          var chart = new FusionCharts("/media/static/fusion/charts/FCF_Column3D.swf", 'chart1', '950', '200', '0', '0');
          chart.setDataXML( build_graph($('.total'), {})  );
          chart.render('chart');
          return false;
        });

 
      });
    </script>
 
{% endblock %}

{% block content %}


<div class="container">

    <a id="show" href="#">Show chart</a>
    <hr/>
    <h2 class="alt">{% block section_title %}{% endblock %}</h2>
    <hr/>

    <div id="chart"></div>

</div>

<div class="container">

    <div class="span-2 colborder">

		<h3 class="alt">Date</h3>
		<hr/>

		{% regroup months by year as dates %}

        <ul>
            {% for date in dates %}
            <li><a href="{% url report-year date.grouper %}">{{ date.grouper }}</a>
            
            	<ul>
            	{% for day in date.list %}
            
            	<li>
	            	{% ifequal day.year year %}{% ifequal day.month month %}<strong>{% endifequal %}{% endifequal %}
    	        	<a href="{% url report-month day.year, day|date:"m" %}">{{ day|date:"F" }}</a>
	            	{% ifequal day.year year %}{% ifequal day.month month %}</strong>{% endifequal %}{% endifequal %}
            	</li>
            	
            	{% endfor %}
            	</ul>
            	
            </li>
            {% endfor %}
        </ul>

    </div>

    <div class="span-15 colborder">


        <h3 class="alt">Balance: {{ balance }}</h3>
        
        <hr />

        <h3 class="alt">Rebate Tot: {{ rebate_list.tot }}</h3>
 
        <table>
        
            {% for transfer in rebate_list.transfers %}

			{% ifchanged %}
			<tr>
				<td colspan="5">
					<hr/>
					<h4 class="alt">Settimana {{ transfer.validity_date|date:"W" }}</h4>

				</td>
			</tr>
			{% endifchanged %}

            <tr>
	            <td><a href="{% url report-day transfer.validity_date.year transfer.validity_date.month transfer.validity_date.day %}">{{ transfer.validity_date|naturalday:"l j" }}</a></td>
                <td>{{ transfer.amount|floatformat:2 }};</td>
                <td><a href="{% url account-detail transfer.source.id %}">{{ transfer.source }}</a></td>
                <td><a href="{% url account-detail transfer.destination.id %}">{{ transfer.destination }}</a></td>
                <td>{{ transfer.description }}</td>
            </tr>
            {% endfor %}
        </table>

        <h3 class="alt">Income Tot: {{ income_list.tot }}</h3>
        <table>
        
            {% for transfer in income_list.transfers %}

			{% ifchanged %}
			<tr>
				<td colspan="5">
					<hr/>
					<h4 class="alt">Settimana {{ transfer.validity_date|date:"W" }}</h4>

				</td>
			</tr>
			{% endifchanged %}

            <tr>
	            <td><a href="{% url report-day transfer.validity_date.year transfer.validity_date.month transfer.validity_date.day %}">{{ transfer.validity_date|naturalday:"l j" }}</a></td>
                <td>{{ transfer.amount|floatformat:2 }};</td>
                <td><a href="{% url account-detail transfer.source.id %}">{{ transfer.source }}</a></td>
                <td><a href="{% url account-detail transfer.destination.id %}">{{ transfer.destination }}</a></td>
                <td>{{ transfer.description }}</td>
            </tr>
            {% endfor %}
        </table>

        <h3 class="alt">Expense Tot: {{ expense_list.tot }}</h3>

        <table>
        
            {% for transfer in expense_list.transfers %}

			{% ifchanged %}
			<tr>
				<td colspan="5">
					<hr/>
					<h4 class="alt">Settimana {{ transfer.validity_date|date:"W" }}</h4>
					<hr/>
				</td>
			</tr>
			{% endifchanged %}
            
            <tr>
            
            	{% ifchanged transfer.validity_date.day %}
	            <td><a href="{% url report-day transfer.validity_date.year transfer.validity_date.month transfer.validity_date.day %}">{{ transfer.validity_date|naturalday:"l j" }}</a></td>
    	        {% else %}
        	    <td></td>
            	{% endifchanged %}

	            <td>{{ transfer.amount|floatformat:2 }}</td>
    	        <td><a href="{% url account-detail transfer.source.id %}">{{ transfer.source }}</a></td>
        	    <td><a href="{% url account-detail transfer.destination.id %}">{{ transfer.destination }}</a></td>
            	<td><a href="{% url transfer-detail transfer.id %}">{{ transfer.description }}</a></td>
            	
            </tr>
            {% endfor %}

        </table>
        
    </div>


<div class="span-5 last">

	<h3 class="alt">Totali</h3>
	<hr/>

    <table>
        {% for e in expense_list.y|dictsortreversed:"tot" %}
        <tr class="total">
            <td><a href="{% url account-detail e.id %}">{{ e.name }}</a></td>
            <td>{{ e.tot }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}
