{% extends "base.html" %}

{% load query_string %}

{% block title %}Transfer archive{% endblock %}

{% block head %}
<script type="text/javascript">
	$(document).ready( function(){ $('#id_search_by_description').focus()} );
</script>
{% endblock %}

{% block content %}

<div class="container">

<div class="span-23">

  <p>Ci sono ben {{ object_list.count }} trasferimenti.</p>

  <hr/>

  <table class="zebra-striped">

	<caption>Elenco transfer</caption>
	
	<tr>
		<th>date</th>
		<th>desc</th>
		<th>Source</th>
		<th>Destination</th>
		<th>amount</th>
	</tr>
	
	{% for object in object_list %}
	<tr>
		<td>{{ object.validity_date}}</td>
		<td><a href="{% url transfer-detail object.id %}">{{ object.description }}</a></td>
		<td><a href="{% url account-detail object.source.id %}">{{ object.source }}</a></td/>
		<td><a href="{% url account-detail object.destination.id %}">{{ object.destination }}</a></td/>
		<td><span style="color: grey;">&euro;</span> {{ object.amount|floatformat:2 }}</td>
	</tr>		
	{% endfor %}
</table>

<p>
{% for page in page_range %}
<span><a href="?{% get_string "page" page %}">{{ page }}</a></span>
{% endfor %}
</p>
</div>

</div>
{% endblock %}
