{% extends "base.html" %}

{% load humanize %}

{% block title %}Add new transfer{% endblock %}

{% block head %}

<script type="text/javascript">
	$(document).ready(function() {
		// $('#id_validity_date').datepicker($.datepicker.regional['it'], {'dateFormat': 'yy-mm-dd'});
		$('#id_amount').focus();
        	$('.message').animate({opacity: 1.0}, 5000).fadeOut('slow');
		$('<br/>').appendTo($('label'))
		$('fieldset input[type=text]').addClass('text');
                $('a.close').parent().click(function(e) { $(this).fadeOut() });
	});
</script>

{% endblock %}

{% block content %}

<div class="row">

    <div class="page-header">
        <h1>Add new transfer</h1>
    </div>
 
    <div class="span10 columns">

            <form method="post" action="">{% csrf_token %}
                <fieldset>
                    {% for field in form %}
                    <div class="clearfix {% if field.errors %}error{% endif %}" title="{{ field.help_text }}">
                        {{ field.label_tag }}
                        <div class="input">
                            {{ field }}
                            {% for error in field.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}

                    <div class="actions">
                        <input class="btn primary" type="submit" value="Save" />
                        <input class="btn" type="reset" value="Reset" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
 
<!--
                    <div class="clearfix">
                        <label for="id_username">Username</label>
                        <div class="input">{{ form.username }}</div>
                    </div>
                    <div class="clearfix">
                        <label for="id_password">Password</label>
                        <div class="input">{{ form.password }}</div>
                    </div>

                    <div class="actions">
                        <input class="btn primary" type="submit" value="login" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>


-->
                </fieldset>
            </form>

    </div>

	<div class="span6 columns">

	<h3>Latest trasfers</h3>

	{% if latest %}

	{% regroup latest by validity_date as latest_by_day %}

	<ul>
	{% for item in latest_by_day %}

		<li class="append-bottom">
			<h4 class="alt">{{ item.grouper|naturalday }}</h4>
		
			{% for transfer in item.list %}
			<ul>
				<li title="{{ transfer.description|truncatewords:10 }}"><em>{{ transfer.amount|floatformat:2 }} &euro;</em> da <em><a href="{% url account-detail transfer.source.id %}">{{ transfer.source }}</a></em> a <em><a href="{% url account-detail transfer.destination.id %}">{{ transfer.destination }}</a></em>.</li>
			</ul>
			{% endfor %}
			
		</li>

   	{% endfor %}
   	</ul>

	{% else %}
	<p>no latest transfers</p>
	{% endif %}

	</div>

</div>

{% endblock %}
