{% extends "base.html" %}

{% load query_string %}

{% block head %}
<script type="text/javascript">
	$(document).ready( function(){ $('#id_search_by_description').focus()} );
</script>
{% endblock %}

{% block content %}

<div class="container">

<div class="span-2">
  <p>Cucu</p>
  <hr/>
  <p>Qui vorrei scrivere tante cose..</p>
</div>

<div class="span-16">

  <p>Ci sono ben {{ object_list.count }} trasferimenti.</p>

  <hr/>

  <table>

	<caption>Elenco transfer</caption>
	
	<tr>
		<th>date</th>
		<th>desc</th>
		<th>Source</th>
		<th>Destination</th>
		<th>amount</th>
	</tr>
	
	{% for object in object_list %}
	<tr>
		<td>{{ object.validity_date}}</td>
		<td><a href="{% url transfer-detail object.id %}">{{ object.description }}</a></td>
		<td>{{ object.source }}</td/>
		<td>{{ object.destination }}</td/>
		<td><span style="color: grey;">&euro;</span> {{ object.amount|floatformat:2 }}</td>
	</tr>		
	{% endfor %}
</table>

<p>
{% for page in page_range %}
<span><a href="?{% get_string "page" page %}">{{ page }}</a></span>
{% endfor %}
</p>
</div>

<div class="span-2">
  <p>Cucu</p>
  <hr/>
  <p>Qui vorrei scrivere tante cose..</p>
</div>

</div>
{% endblock %}
