{% extends "base.html" %}

{% load humanize %}

{% block title %}Add new transfer{% endblock %}

{% block head %}

<script type="text/javascript">
	$(document).ready(function() {
		$('#id_validity_date').datepicker({'dateFormat': 'yy-mm-dd'});
		$('#id_amount').focus();
        	$('.message').animate({opacity: 1.0}, 5000).fadeOut('slow');
		$('<br/>').appendTo($('label'))
		$('fieldset input[type=text]').addClass('text');
	});
</script>

{% endblock %}

{% block content %}

<div class="container">

    <div class="span-15">
	<hr/>
	<h3 class="alt">Inserire qui le spese..</h3>

	<form action="" method="post">{% csrf_token %}

	    <fieldset>
	    
    		{{ form.as_p }}

	        <input type="submit" value="Save" />

	    </fieldset>
	</form>
	
    </div>

	<div class="span-8">

	<hr/>
	<h3 class="alt">Ultimi trasferimenti.</h3>
	<hr/>

	{% if latest %}

	{% regroup latest by validity_date as latest_by_day %}

	<ul>
	{% for item in latest_by_day %}

		<li class="append-bottom">
			<h4 class="alt">{{ item.grouper|naturalday }}</h4>
		
			{% for transfer in item.list %}
			<ul>
				<li title="{{ transfer.description|truncatewords:10 }}"><em>{{ transfer.amount|floatformat:2 }} &euro;</em> da <em><a href="{% url account-detail transfer.source.id %}">{{ transfer.source }}</a></em> a <em><a href="{% url account-detail transfer.destination.id %}">{{ transfer.destination }}</a></em>.</li>
			</ul>
			{% endfor %}
			
		</li>

   	{% endfor %}
   	</ul>

	{% else %}
	<p>no latest transfers</p>
	{% endif %}

	</div>

</div>

<div class="hide" id="dialog">
	<h4>Loading.. <h4>
</div>


{% endblock %}
