{% extends "base.html" %}

{% load humanize %}

{% block title %}Add new transfer{% endblock %}

{% block head %}

<script type="text/javascript">
	$(function() {
		// $('#id_validity_date').datepicker($.datepicker.regional['it'], {'dateFormat': 'yy-mm-dd'});
		$('#id_amount').focus();
    $('.message').animate({opacity: 1.0}, 5000).fadeOut('slow');
		$('<br/>').appendTo($('label'))
		$('fieldset input[type=text]').addClass('text');
    $('a.close').parent().click(function(e) { $(this).fadeOut() });
	});
</script>

{% endblock %}

{% block content %}

  <section>

		<div class="page-header">
			<h2>Add a new transfer
      <small>Crea un nuovo trasferimento di denaro da un contro ad un altro.</small></h2>
		</div>

    <div class="row">

			<div class="span8">

			  <form class="form-horizontal" method="post">{% csrf_token %}
          <fieldset>
            {% for field in form %}
            <div class="control-group {% if field.errors %}error{% endif %}">
              <label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
              <div class="controls">
                {{ field }}
                {% for error in field.errors %}
                <span class="help-inline">{{ error }}</span>
                {% endfor %}
                {% if field.help_text %}
                <span class="help-block"> {{ field.help_text}}. </span>
                {% endif %}
              </div>
            </div><!-- /control-group -->
            {% endfor %}

            <div class="form-actions">
              <input class="btn btn-primary" type="submit" value="Save changes" />
              <input class="btn" type="reset" value="Reset" />
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
          </fieldset>
        </form>

      </div><!-- /span8 -->

      <div class="span4">

	      <h3>Latest trasfers</h3>

	      {% if latest %}
	      {% regroup latest by validity_date as latest_by_day %}
	      <ul>
	      {% for item in latest_by_day %}

          <li class="append-bottom">
	      		<h4 class="alt">{{ item.grouper|naturalday }}</h4>
	      	
	      		{% for transfer in item.list %}
	      		<ul>
	      			<li title="{{ transfer.description|truncatewords:10 }}"><em>{{ transfer.amount|floatformat:2 }} &euro;</em> da <em><a href="{% url account-detail transfer.source.id %}">{{ transfer.source }}</a></em> a <em><a href="{% url account-detail transfer.destination.id %}">{{ transfer.destination }}</a></em>.</li>
	      		</ul>
	      		{% endfor %}
	      		
	      	</li>

         	{% endfor %}
         	</ul>

	      {% else %}
	      <p>no latest transfers</p>
	      {% endif %}

      </div><!-- /span4 -->

    </div><!-- /row -->

  </section>

{% endblock %}
